---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";


---

<Layout title="hkanwal.com">
	<main>
		<h1>Harkeerat Kanwal</h1>
		<section id="brief">
			Web Developer - Mobile App Developer - Full-Stack Engineer
		</section>
		<div id="links">
			<Badge href="https://github.com/HKanwal">
				<img src="/favicon-github.svg" height="42px" width="42px" alt="GitHub Logo" />
			</Badge>
			<Badge href="https://www.linkedin.com/in/hkanwal/" style="margin-left: 20px;">
				<img src="/favicon-linkedin.svg" height="42px" width="42px" alt="LinkedIn Logo" />
			</Badge>
		</div>
	</main>
</Layout>

<style>
	main {
		height: clamp(300px, 50%, 90%);
		width: clamp(300px, 50%, 90%);
		/* background-color: red; */

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		text-align: center
	}

	h1 {
		font-size: 6em;
		margin: 0;
		margin-bottom: 1%;
		letter-spacing: -2px;

		background: url("red-and-blue-star.jpg") repeat;
		background-position: 73% 50%;
		background-clip: text;
		color: transparent;
		filter: saturate(1.5);
	}

	#brief {
		font-size: 1.5em;
	}

	#links {
		padding-top: 100px;
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
</style>
