---
import { slide } from "astro:transitions";

import Email from "../components/Email.astro";
import Layout from "../layouts/Layout.astro";
import type { TransitionAnimationPair, TransitionDirectionalAnimations } from "astro";

const forwardSlide: TransitionAnimationPair = {
	old: {
		name: "mySlide",
		duration: "5s",
		easing: "linear",
    fillMode: "both",
	},
	new: {
		name: "mySlide",
		duration: "5s",
		easing: "linear",
    fillMode: "forwards",
	}
};

const backwardSlide: TransitionAnimationPair = {
	old: {
		name: "doNothing",
	},
	new: {
		name: "doNothing",
	},
}

const mySlide: TransitionDirectionalAnimations = {
	forwards: forwardSlide,
	backwards: backwardSlide,
}
---

<Layout title="Works" transitions>
  <span id="email" transition:name="email" transition:animate={mySlide}>hk@hkanwal.com</span>
</Layout>

<style>
  #email {
		color: red;
		font-size: 1em;
		font-family: "Manrope", sans-serif;
		font-weight: 500;
		position: absolute;
		bottom: 25px;
		left: 15px;
	}

  @keyframes mySlide {
		0% {
			left: 15px;
		}

		100% {
			left: 215px;
		}
	}

	@keyframes doNothing {
		0% {}

		100% {}
	}
</style>
