---
import Card from "../components/Card.astro";
import Email from "../components/Email.astro";
import Source from "../components/Source.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Works" transitions>
  <div id="cards">
    <Card title="Quaternion Motion" href="https://hkanwal.github.io/quaternions/" />
    <Card title="AI Todolist" href="https://hkanwal.github.io/ai-todolist/" style="margin-top: 20px;" />
  </div>
  <Email />
  <Source />
</Layout>

<style>
  #cards {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
</style>
