---
interface Props {
	href: string;
	style?: string;
}

const { href, style } = Astro.props;
---

<a class="badge" href={href} target="_blank" style={style}>
	<div class="badge-border"></div>
	<slot />
</a>

<style>
	@property --r {
		syntax: '<angle>';
		initial-value: 135deg;
		inherits: false;
	}

	@property --c1 {
		syntax: '<color>';
		initial-value: #D6EEFF;
		inherits: false;
	}

	@property --c2 {
		syntax: '<color>';
		initial-value: #77B3F2;
		inherits: false;
	}

	@property --c3 {
		syntax: '<color>';
		initial-value: #5A8ACE;
		inherits: false;
	}

	@property --c4 {
		syntax: '<color>';
		initial-value: #885182;
		inherits: false;
	}

	@property --c5 {
		syntax: '<color>';
		initial-value: #C9554E;
		inherits: false;
	}

	.badge {
		display: flex;
		position: relative;
		width: 70px;
		height: 70px;
		align-items: center;
		justify-content: center;
	}

	.badge-border {
		content: "";
		position: absolute;
		inset: 0;
		border-radius: 20%;
		padding: 6px;
		background: white;
		mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		mask-composite: exclude;
		filter: saturate(1.3);
	}

	.badge-border:hover {
		cursor: pointer;
		background: linear-gradient(var(--r), var(--c1), var(--c2), var(--c3), var(--c4), var(--c5));
		animation: rainbow 3s linear infinite;
	}

	@keyframes rainbow {
		0% {
			--c1: #D6EEFF;
			--c2: #77B3F2;
			--c3: #5A8ACE;
			--c4: #885182;
			--c5: #C9554E;
		}

		20% {
			--c1: #C9554E;
			--c2: #D6EEFF;
			--c3: #77B3F2;
			--c4: #5A8ACE;
			--c5: #885182;
		}

		40% {
			--c1: #885182;
			--c2: #C9554E;
			--c3: #D6EEFF;
			--c4: #77B3F2;
			--c5: #5A8ACE;
		}

		60% {
			--c1: #5A8ACE;
			--c2: #885182;
			--c3: #C9554E;
			--c4: #D6EEFF;
			--c5: #77B3F2;
		}

		80% {
			--c1: #77B3F2;
			--c2: #5A8ACE;
			--c3: #885182;
			--c4: #C9554E;
			--c5: #D6EEFF;
		}

		100% {
			--c1: #D6EEFF;
			--c2: #77B3F2;
			--c3: #5A8ACE;
			--c4: #885182;
			--c5: #C9554E;
		}
	}
</style>
