---
interface Props {
  title: string;
  href: string;
  style?: string;
}

const { title, href, style } = Astro.props;
---

<div class="card-container" style={style ?? ""}>
  <a class="card" href={href} target="_blank">{title}</a>
</div>

<style>
  .card-container {
    width: 560px;
    height: 73px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: block;
    background-color: #252830;
    width: 500px;
    height: 33px;
    padding: 15px 25px;
    border-radius: 20px;

    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: white;

    transition: padding 0.2s ease;
  }

  .card:hover, .card:focus {
    padding: 20px 30px;
    color: #77B3F2;
    outline: none;
  }
</style>
