---
interface Props {
  title: string;
  href: string;
  style?: string;
}

const { title, href, style } = Astro.props;
---

<div class="card-container" style={style ?? ""}>
  <a class="card" href={href} target="_blank">{title}</a>
</div>

<script>
  document.onvisibilitychange = () => {
    if (!document.hidden) {
      if (document.activeElement?.tagName === "A") {
        (document.activeElement as HTMLLinkElement).blur();
      }
    }
  }
</script>

<style>
  .card-container {
    width: 560px;
    height: 73px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card {
    display: flex;
    align-items: center;
    background-color: #252830;
    width: 500px;
    height: 33px;
    padding: 15px 25px;
    border-radius: 20px;

    font-family: 'Manrope', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    color: white;

    transition: padding 0.2s ease;
  }

  @media (min-width: 481px) { 
    .card:hover, .card:focus {
      padding: 20px 30px;
      color: #77B3F2;
      outline: none;
    }
  }

  @media (max-width: 480px) {
    .card-container {
      width: 98%;
    }

    .card {
      width: calc(98% - 60px);
      font-size: 1.4em;
    }
  }
</style>
